@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSansArabicRegular.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'NeoSans', sans-serif;
}
.centerize {
  display: table;
  width: 100%;
  height: 100%;
}
.v-center {
	display: table-cell;
	vertical-align: middle;
}
section {
	padding: 40px 0;
}

.btn:focus {
outline: 0 !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background: #f24f12;
    /* border-radius: 10px; */
    /* padding: 10px; */
    padding: 2px 15px;
    border-radius: 5px;
    margin-top: 13px;
     transition: all 0.5s ease;

}

.btn {
	border-radius: 15px;
    font-weight: 300;
    padding: 10px 25px;
}
.btn-primary {
	background-color: #1c75bc;
	border-color: #1c75bc;
}
/* Customized col for 5 columns per row */
.col-md-2.custome,
{
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-md-2.custome {
  width: 20%;
  float: right;
}
@media (min-width: 768px) {
.col-md-2.custome {
    width: 20%;
    float: right;
  }
}
@media (min-width: 992px) {
  .col-md-2.custome {
    width: 20%;
    float: right;
  }
}
@media (min-width: 1200px) {
.col-md-2.custome{
    width: 20%;
    float: right;
  }
}

.section-title {
	text-align: center;
	color: #1c75bc;
	margin-bottom: 30px;
}
.form-control {
    border-radius: 15px;
    padding: 6px 17px;
    border-color: #1c75bc;
    color: #58595b;
}


/*******
Navbar 
*******/
.navbar-default {
	background-color: #1c75bc;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav .btn-orange {
	background-color: #f25012;
    padding: 2px 15px;
    border-radius: 5px;
    margin-top: 13px;
}
.navbar-default .navbar-nav .social-icon  {
	padding: 3px;
    width: 25px;
    text-align: center;
    height: 25px;
    vertical-align: middle;
    background: #FFF;
    color: #1c75bc;
    border-radius: 50%;
    margin: 14px;
}
.navbar-default .navbar-nav.navbar-left li:last-child .social-icon {
	margin-right: 0;
	margin-left: 0;
}


/********
Intro
********/
.intro {
	padding-top: 90px;
}
.intro .intro-certificate img {
}
.intro .intro-text h2 {
	font-size: 50px;
	color: #1c75bc;
}
.intro .intro-text img {
	margin-bottom: 25px;
}
.intro .intro-text p {
	width: 85%;
	margin: 0 auto;
	font-size: 17px;
	color: #1c75bc;
}
.intro .intro-logo img {
	float: left;
}

.intro .user-photo {
    padding-top: 14px;
}

.intro .user-photo img {
    margin: 0 auto;
}

.intro .user-photo p {
    font-size: 21px;
    margin-top: 28px;
    font-weight: bold;
    color: #414042;
}



/**************
Icons section
**************/
.icons .icon-wrapper {
	text-align: center;
}
.icons .icon-wrapper img {
    margin: 0 auto;
    transition: all 0.3s ease;
}
.icons .icon-anchor {
	text-decoration: none;
	color: #414042;
	text-align: center;
}
.icons .icon-anchor:hover {
	text-decoration: none;
	color: #414042;
}
.icons .icon-anchor:hover img {
	transform: rotate(360deg);
}

/**********
Adbox
***********/
.adbox img {
	margin: 0 auto;
}


/*************
News carousel 
************/
.carousel-news .carousel-wrapper .carousel-indicators {
	position: relative;
	bottom: auto;
	margin-right: auto;
	right: auto;
	left: auto;
	width: 100%;
	padding: 0;
	margin-top: 20px;
}
.carousel-news .carousel-wrapper .carousel-indicators li {
	border: none;
	background-color: #27aae1;
	width: 13px;
	height: 13px;
}
.carousel-news .carousel-wrapper .carousel-indicators .active {
	background-color: #1c75bc;
	width: 17px;
	height: 17px;
}
.carousel-news .carousel-wrapper .carousel-caption {
	left: auto;
	right: 10%;
	text-align: right;
}
.carousel-news .carousel-bottom p {
	width: 50%;
	margin: 15px auto;
}


/*************
Section blue
************/
.icons-blue {
	background: #1c75bc;
	color: #fff;
}
.icons-blue .icon-anchor {
	text-align: center;
	color: #fff;
}
.icons-blue .icon-anchor img {
	transition: all 0.3s ease;
}
.icons-blue .icon-anchor:hover {
	color: #fff;
	text-decoration: underline;
}


/*************
Contact us
*************/
.contact .right-col {
	border-left: 1px solid #989292;
}
.contact input.form-control {
	height: 38px;
	width: 50%;
}
.contact .btn.dropdown-toggle {
	width: 50%;
	text-align: right;
	border-color: #1c75bc;
	color: #58595b;
	position: relative;
	padding: 6px 17px;
	height: 38px;
}
.contact .btn.dropdown-toggle:hover {
	background: transparent;
}
.contact .btn .caret {
	position: absolute;
    left: 20px;
    top: 18px;
}


.contact .left-col .icon {
	display: inline-block;
	vertical-align: middle;
}
.contact .left-col .icon img {
	vertical-align: middle;
    max-width: 33px;
}
.contact .left-col .desc {
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 6px;
}
.contact .left-col .desc p {
	margin-bottom: 0;
}
.contact .left-col .row {
	margin-bottom: 15px;
}
.contact .mapImg {
}

/*************
Footer
*************/
footer {
	padding: 40px 0;
	background: url('../images/footer-bg.png') no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
}
footer ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}
footer ul:first-child {
	margin-left: 190px;
}
footer ul li {
	list-style: none;
	margin-bottom: 5px;
}
footer ul li.title {
	font-size: 19px;
    margin-bottom: 15px;
}
footer ul li a {
	color: #fff;
}


/**************
Bottom Footer
**************/
.bottom-footer {
	padding: 20px 0;
	text-align: center;
}
.bottom-footer a {
	color: #000;
	font-size: 15px;
}
.bottom-footer a:first-child {
    padding-left: 20px;
}
.bottom-footer a:first-child:after {
    content: "|";
    margin-right: 20px;
}




/*************
Bashaer Start
************/

	/* Start section Search */


.centre{
	text-align: center;
}
section.title {
	color: #1c74bc;
}
.search {
	width: 100%;
	position: relative;
}
.search:before {
	position: absolute;
	top: 14px;
    right: -3px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	content: '';
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-image: url('../images/search-icon.png');
	background-size: 20px 20px;
    background-repeat: no-repeat;
}

.searchTerm {
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 13px 50px;
	outline: none;
	border-radius: 53px;
	border: 2px solid #1c74bc;
}

.searchButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	opacity: 0;
	cursor: pointer;
}


	/* End section Search */


	/* Start section Purchase-crop */


.Purchase-crop .tab {
    margin-top: 50px;
    /* margin-bottom: 20px; */
    position: relative;
    overflow: hidden;
    background: #e6e7e8;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #e6e7e8;
    -webkit-font-smoothing: antialiased;
}


.Purchase-crop .tabs {
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

.Purchase-crop .tabs li {
	float: right;
	line-height: 42px;
	padding: 0;
	position: relative;
	width: 240px;
	list-style: none;

}

.Purchase-crop .tabs a {
	background-color: transparent;
	border: none;
	color: #fff;
	font-weight: 500;
	display: block;
	letter-spacing: 0;
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.Purchase-crop .tabs .current a {
	color: #fff;
	background: #439ce8;
	border: none;

}

.Purchase-crop .tabs .current a:hover {
    background: white;
    color: #1c72bc;
}
.Purchase-crop .tabs_item {
	display: none;
}

.Purchase-crop .tabs_item h4 {
	font-weight: bold;
	color: blue;
	font-size: 20px;
}

.Purchase-crop .tabs_item img {
	width: 200px;
	float: left;
	margin-right: 30px;
}

.Purchase-crop .tabs_item:first-child {
	display: block;
}

.Purchase-crop .current a {
	color: #fff;
	background: #2b2d2e3b;
}
.Purchase-crop  div.table-title {
	display: block;
	margin: auto;
	padding:5px;
	width: 100%;
}


.Purchase-crop .table-title h3 {
	text-align: center;
	color: #1c72bc;
	font-weight: bold;
}



.title h2 {
    color: #1c72bc;
    margin-bottom: 40px;
    font-weight: bold;
}


.Purchase-crop .table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}


.Purchase-crop .table-fill th {
    color: #ffffff;
    background: #1c73bc;
    font-size: 19px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    font-weight: bold;
}


.Purchase-crop .table-fill th:first-child {
	border-top-left-radius:3px;
}


.Purchase-crop .table-fill th:last-child {
	border-top-right-radius:3px;
	border-right:none;
}


.Purchase-crop .table-fill tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color:#1c72bc;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


.Purchase-crop .table-fill tr:hover td {
	background:#1c72bc;
	color:#FFFFFF;
	border-top: 1px solid #22262e;
}


.Purchase-crop .table-fill tr:first-child {
	border-top:none;
}


.Purchase-crop .table-fill tr:last-child {
	border-bottom:none;
}


.Purchase-crop  .table-fill tr:nth-child(odd) td {
	background:#EBEBEB;
}


.Purchase-crop .table-fill tr:nth-child(odd):hover td {
	background:#1c72bc;
}


.Purchase-crop .table-fill tr:last-child td:first-child {
}


.Purchase-crop .table-fill tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}


.Purchase-crop .table-fill td {
	background:#FFFFFF;
	padding:20px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size: 15px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}


.Purchase-crop .table-fill td:last-child {
	border-right: 0px;
}


.Purchase-crop .table-fill th.text-left {
	text-align: left;
}

.Purchase-crop .table-fill th.text-center {
	text-align: center;
}

 .Purchase-crop .table-fill th.text-right {
	text-align: right;
}

.Purchase-crop .table-fill td.text-left {
	text-align: left;
}

.Purchase-crop .table-fill td.text-center {
	text-align: center;
	font-weight: bold;
}

 .Purchase-crop  .table-fill td.text-right {
	text-align: right;
}
.Purchase-crop .tabs.active {
	background: #439ce7;
	padding: 17px;
}

.Purchase-crop .tab p {
	color: #439ce8;
    margin-top: 15px;
    line-height: 28px;
    font-size: 15px;
    padding: 17px;
    text-align: center;
    font-weight: bold;
    line-height: 2.3em;
}
.Purchase-crop .tab-wrapper {
	background: #439ce7;
    padding: 17px;
    text-align: center;
}
.Purchase-crop .tab-wrapper .tabs {
    display: inline-block;
    width: auto;
    background: #3b82be;
    padding: 2px 2px;
    border-radius: 37px;
    text-align: center;
    float: none;
    margin: 0 auto;
}
.Purchase-crop .tab-wrapper .tabs li {
	list-style: none;
}


	/* End Section Purchase-crop */


/*************
Bashaer End 
************/



/*************
Ask Start
************/
.ask-expert table {
	background: #1d74bc;
}
.ask-expert table tbody {
	background: #f1f1f1;
	color: #1d74bc;
}
.ask-expert table tbody tr.clickable {
	cursor: pointer;
}
.ask-expert table tbody .title {
	font-weight: bold;
}
.ask-expert .table>thead>tr>th {
	border: none;
	color: #fff;
}

.ask-expert .table>tbody>tr>td, .ask-expert .table>tbody>tr>th, .ask-expert .table>tfoot>tr>td, .ask-expert .table>tfoot>tr>th, .ask-expert .table>thead>tr>td, .ask-expert .table>thead>tr>th {
	padding: 12px;
	border-top: none;
	vertical-align: middle;
}
.ask-expert table tbody .person-img {
	max-width: 35px;
}


/*.clearfix {
    overflow: auto;
}*/


/*************
Ask Start
************/



/*************
Section form-registration Start
************/







section.form-registration {
    padding: 0;
}
section.form-registration .control-label {
    color: #1c74bc;
    margin-top: 14px;
    font-size: 16px;
}
section.form-registration .form-control {
    text-align: center;
    border-radius: 15px;
    padding: 6px 17px;
    border-color: #1c75bc;
    color: #58595b;
    border: 2px solid #1c74bc;
    padding: 27px;
    margin-bottom: 0;
    font-size: 16px;
}


section.form-registration input#name::-webkit-input-placeholder {
    color: #f25012;
}


section.form-registration h3 {
    color: #1c74bc;
    font-weight: bold;
    margin-bottom: 25px;
}

section.form-registration .button-custmoeize button {
    width: 100%;
    margin-bottom: 10px;
}
section.form-registration .button-custmoeize {
    padding-top: 15px;
}
section.form-registration .form-horizontal .form-group{
    padding-right: 49px;


}
section.form-registration .button-custmoeize button:hover {
    color: #1c74bc;
    background: white;
    border: 1px solid #1c74bc;
}

section.form-registration .product-img img {
    margin: 0 auto;
    display: block;
}



/*************
End form-registration Start
************/
@media (max-width:414px){

.Purchase-crop .tabs li {

    width: 167px;
}


.icons .icon-wrapper h3 {
    text-align: center;
    font-size: 14px !important; 
    line-height: 27px;
    text-align: center;
}

section.icons-blue.icons h5{

	    font-size: 16px !important; 
    line-height: 31px;

}

footer ul:first-child {
	margin-left: 0;
}

}

@media (max-width:768px){
.carousel-news .carousel-bottom p {
    width: 100% !important;
    margin: 15px auto;
    font-size: 17px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-align: center;
}

.intro-certificate img{
	margin: 0 auto;
	display: block;
}
.intro .intro-logo img {
    margin: 0 auto;
    	display: block;
    	float: inherit;
}

.intro .intro-text img {
    margin-bottom: 47px;
    margin: 0 auto;
    margin-top: 14px;
}

.contact input.form-control,.contact .btn.dropdown-toggle{
	width: 100%;
}


.icons .icon-wrapper h3 {
    text-align: center;
    line-height: 27px;
    text-align: center;
}

.adbox img {
    width:100%;
    margin: 0 auto;
}


}



@media (min-width: 769px){

.clearfix{
	display: none;
}
}


